/***
GENERAL
***/

body{
    background-color: rgb(241, 238, 239);
    font-size: 10pt;
    min-width: 1080px;
}

header,
.container,
.container-fluid{
    min-width: 1080px !important;
}
/***
COLOURS
***/

.colour-1{
    background-color: #795473;
}

.colour-2{
    background-color: LightSeaGreen;
}

.colour-3{
    background-color: rgb(241, 238, 239);
}

/***
BARS
***/

#bar-1{
    box-shadow: black 0 0 3px 0;
}

/***
TABLE
***/

.highlight{
    background: #ffffb3;
}

/***
COMPONENTS
***/

#c-01{
    display: inline-block;
    border: solid 1px black;
    margin: 10px 0 0 0 !important;
    padding: 0 !important;
    height: 23px !important;
}

#c-02{
}

/***
BUTTONS
***/

.btn{
    border-radius: 0 !important;
}

.btn-light{
    background-color: white !important;
    border-color: white !important;
}
.btn-light:hover{
    background-color: rgb(241, 238, 239) !important;
    border-color: rgb(241, 238, 239) !important;
}

.btn-secondary{
    background-color: rgb(241, 238, 239)  !important;
    border-color: rgb(241, 238, 239)  !important;
}

/***
SEARCH
***/

#search-1{
    border-top: none;
    border-bottom: solid 1px black;
    

}
input[type=text]:focus:not([readonly]) {

}
#search-1 input[type=text] {
    border: none;
    padding-bottom: 0
}


/***
BADGES
***/

.badge{
    display: block;
    background-color: LightSeaGreen ;
    border-radius: 8pt;
    line-height: 8pt;
    color: white;
    margin: -15pt 0 0 8pt;
}

/***
MEDIA TAGS
***/

@media (min-width: 1080px) { 

}

